# Miljövariabler
.env
.env.cmd
run-dev.ps1
/src/main/resources/application*.properties

# Byggfiler
/target/
/build/
*.class
*.jar
*.war

# IDE-specifika filer
.idea/
*.iml
.vscode/
*.sublime-*
*.swp
.project
.classpath
.settings/

/node_modules
