# Miljövariabler
.env
.env.cmd
run-dev.ps1

# Känsliga konfigurationsfiler - Absoluta sökvägar
/src/main/resources/application.properties
/src/main/resources/application-dev.properties
/src/main/resources/application.yml
/src/main/resources/application-dev.yml
/src/main/resources/application-prod.yml
/src/main/resources/application-prod.properties

# Målmappar
/target/
/build/
*.class
*.jar
*.war

# IDE-specifika filer
.idea/
*.iml
.vscode/
*.sublime-*
*.swp
.project
.classpath
.settings/

/node_modules

# Men inkludera mallar
!/src/main/resources/application-template.yml
!/src/main/resources/application-template.properties
!/src/main/resources/templates/
